/* Addplace.css */

.container-addplace {
  max-width: 800px;
  margin: auto;
  padding: 15px; /* Add padding for better mobile display */
}

.container-addplace .form-group {
  margin-bottom: 20px;
}

.container-addplace #municipality-unique,
.container-addplace #place-title,
.container-addplace #place-description,
.container-addplace #place-image,
.container-addplace #place-coordinates,
.container-addplace .btn-primary {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px; /* Add some space between elements */
}

.container-addplace #place-title,
#place-description,
#place-image,
#place-coordinates {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #555;
  transition: border-color 0.3s ease;
}

.container-addplace #place-title:focus,
#place-description:focus,
#place-image:focus,
#place-coordinates:focus {
  border-color: #007BFF;
}

.container-addplace .btn-primary {
  display: block;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container-addplace .btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .container-addplace {
      padding: 10px; /* Adjust padding for better mobile display */
  }

  .container-addplace #municipality-unique,
  #place-title,
  #place-description,
  #place-image,
  #place-coordinates,
  .btn-primary {
      margin-bottom: 15px; /* Add more space between elements for better mobile display */
  }
}
