/* Filter.css */
.filter-container {
  position: absolute; /* Position the container absolutely within its parent */
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust right position as needed */
  background-color: transparent; /* Set a transparent background */
  z-index: 2; /* Ensure it's above the map */
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  background-color: rgba(244, 236, 236, 0.7); /* Semi-transparent background */
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.filter label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px;
}

.filter select:hover {
  border-color: #007bff;
}

.filter select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}
