/* Styling for the map container */
.map {
    width: 100%; /* Set the desired width */
    height: calc(100vh - 70px); 
  }

  /* In your map.css file or inline CSS */
.popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 200px; /* Adjust the maximum width as needed */
  z-index: 1; /* Ensure the pop-up appears above the map */
}

.popup-content {
  font-size: 14px;
  line-height: 1.4;
  
}

.popup strong {
  font-weight: bold;
}
.map-pointer-cursor{
  cursor: pointer;
}