/* Styling for the map container */
#map {

  position: relative;
  left: 80px;
  width: calc(100% - 80px); 
    height: calc(100vh - 70px); 
    
  }

/* Popup container */
.map_popup {
  position: absolute;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font: 400 14px Roboto, Arial, sans-serif;
  z-index: 1;
}

/* Popup content */
.map_popup__content {
  font-size: 16px;
  line-height: 1.6;
}

/* Popup title */
.map_popup__title {
  background: #663367;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Button wrapper */
.map_popup__btn-row {

  margin-top: 15px;
  border-radius: 25px;
  padding: 10px 0;
}

/* Popup button */
.map_popup__btn {
  align-items: center;
  background: #0070c0;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  flex: 1; /* Distribute available space evenly between buttons */
}

.map_popup__btn:hover {
  background: #0050a0;
}

/* Close button */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #000;
}

.close-button:hover {
  color: #ff0000;
}

/* Define styles for smaller screens (e.g., screens up to 768px) */


 
  
.map-pointer-cursor{
  cursor: pointer;
}

#map .ol-zoomslider {
  top: 95%;
  left: auto;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.7); /* Change background color */
  width: 100px;
  height: 15px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a subtle border */
  border-radius: 7.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Increase shadow */
}

#map .ol-zoomslider:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Lighten the background on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Enhance the shadow on hover */
}

#map .ol-zoomslider-thumb {
  height: 15px;
  width: 10px;
  margin: 0;
  filter: none;
  background-color: rgba(255, 69, 0, 0.7); /* Adjust thumb color */
  border-radius: 7.5px;
}

#map a.ol-zoomslider-handle:hover {
  background-color: rgba(255, 69, 0, 0.8); /* Lighten the thumb color on hover */
}
.ol-zoom {
  opacity: 0;
}

.north-arrow {
  position: absolute;
  bottom: 35px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.north-arrow-text {
  font-size: 20px;
  color: black;
}
@media (max-width: 768px)   {

  #map .ol-zoomslider {
  top: 90%;
 
}
.north-arrow {
  bottom: 80px;

}
}


/* Filter.css */
/* Filter.css */
.filter-container {
  position: absolute;
  top: 240px;
  right: 10px;
  background: #007BFF;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Style for the search input */
.filter-search {
  margin: 10px;
}

.filter-search input {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #007BFF;
  border-radius: 5px;
  color: #007BFF;
}

/* Style for the filter controls */
.filter-palika-toggle {
  width: 100%;
  margin: 10px;
}

.filter-container label {
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
}

.filter-container .filter select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 90%;
}

.filter-container .filter select:hover {
  border-color: #007BFF;
}

.filter-container .filter select:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

/* Style for the "Apply" button */
.filter-container .filter-apply-button {
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-container .filter-apply-button:hover {
  background: #0056b3;
}

/* Styling for the search container */

.search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  
}

/* Default styling for search input container */
.filter-search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 6px;
  background-color: #fff;
  margin-top: 10px;
  transition: background-color 0.3s;
  border: 2px solid #007BFF;;
}

/* Default styling for search input */
.filter-search input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 14px;
  color: #333;
  outline: none;
}

/* Default styling for search icon */
.filter-search i {
  color: #007bff;
  font-size: 20px;
  margin-right: 10px;
}

/* Default styling for search results */
/* Styling for Search Results */
#search-results {
  list-style-type: none;
  padding: 0;
  margin: 12px 0; /* Adjusted top margin */
  background-color: #fff; /* Keep the background white */
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  max-height: 390px;
  overflow-y: hidden;
}

/* Styling for Search Result Items */
#search-results li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
}

#search-results li:hover {
  background-color: #E3F2FD; /* Highlight background color on hover */
}

/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .search-container {
    top: 5px;
    left: 10px;
    max-width: 50%;
  }
  
  .filter-search {
    margin-top: 5px;
  }
}

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .search-container {
    top: 10px;
    left: 5px;
    padding: 5px;
  }
  
  .filter-search {
    margin-top: 3px;
  }
  
  .filter-search i {
    font-size: 16px;
    margin-right: 5px;
  }
}
/* Styling for the base layer switching buttons */
.button-container {
  position: absolute;
  top: 150px;
  right: 0px;
  z-index: 1000; /* Ensure it's above the map */
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-container button {
  display: block;
  margin-bottom: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 10px;

}


.button-container button:hover {
  background: #0056b3;
}



.button-container button.active {
   display: block;
  margin-bottom: 10px;
  background: #114b8e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.ol-control button{
  background: #007BFF;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;

}

/* Add this CSS to style the tooltips */
/* Default tooltip styling */
button[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  position: relative;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  pointer-events: none;
  font-size: 14px;
  white-space: nowrap;
}

/* Media query for smaller screens (adjust max-width as needed) */
@media (max-width: 768px) {
  button[data-tooltip]:hover:after {
    display: none; /* Hide the tooltip on smaller screens */
  }
}

.loading::after {
  content: '';
  position: relative;
  top: 50%;
  right: 10px; /* Adjust the distance from the input field */
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-top-color: #007bff; /* Initial color before 180 degrees */
  border-radius: 50%;
  color: black;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
    border-top-color: red; /* Change color at 180 degrees */
  }
  100% {
    transform: rotate(360deg);
    border-top-color: red; /* Keep the color red after 180 degrees */
  }
}

.base-layer-popup {
  position: absolute;
  top: 225px;
  right: 4px;
  background: #007BFF;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.base-layer-popup button {
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  transition: background-color 0.3s ease;
}

.base-layer-popup button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Style for the radio buttons */
.base-layer-popup input[type="radio"] {
  margin-right: 5px; /* Add some spacing between the radio button and the text */
  cursor: pointer;
  font-size: 11px;
  width: 20px;
  position: relative;
  top: 14px;
}

/* Style for the custom radio indicator */
.base-layer-popup input[type="radio"] + label {
/* Hide the labels */
  position: relative;
  padding-left: 5px; /* Space for the custom radio indicator */
  cursor: pointer;
  font-size: 12px;
  left: 20px;

}



/* Style for the custom radio indicator when selected */
.base-layer-popup input[type="radio"]:checked + label::before {
  background-color: #0074e4; /* Background color when selected */
}

/* Optional hover effect for labels */
.base-layer-popup input[type="radio"] + label:hover::before {
  border-color: #005aaf; /* Adjust the border color on hover */
}



.filter-popup {
  position: absolute;
  top: 225px;
  right: 4px;
  background: #007BFF;
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 155px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-popup button {
  font-size: 15px;
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  transition: background-color 0.3s ease;
}

.filter-popup button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Style for the select dropdown */
.filter-popup select {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.filter-popup label {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}

/* Optional styling for the loading message */
.filter-popup p {
  margin: 10px;
}

/* Optional styling for the filtered data */
.filter-popup ul {
  list-style: none;
  padding: 0;
  height: 200px;
  overflow-y: auto;
}

.filter-popup li {
  font-size: 13px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.filter-popup li:hover {
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-popup li.active {
  background-color: #ff0000; /* Change this to your desired background color for the active item */
  color: #ffffff; /* Change this to your desired text color for the active item */
}

/* styles.css */


.map-legends {
  display: flex;
  margin-top: 10px; /* Adjust the margin as needed */
  position: absolute;
  bottom: 0;
  left: 30%;
  background-color: white; /* Add a background color to make the legends more visible */
  padding: 10px; /* Add padding for better spacing */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.legend {
  width: 20px; /* Adjust the width of the legend color box */
  height: 20px; /* Adjust the height of the legend color box */
  margin-right: 5px; /* Adjust the margin between legend items */

}

.map-legends span {
  margin-right: 15px; /* Adjust the margin between legend color box and text */
}

