/* Styling for the map container */
.map {
    width: 100%; /* Set the desired width */
    height: calc(100vh - 70px); 
    
  }

/* Popup container */
.map_popup {
  position: absolute;
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font: 400 14px Roboto, Arial, sans-serif;
  z-index: 1;
}

/* Popup content */
.map_popup__content {
  font-size: 16px;
  line-height: 1.6;
}

/* Popup title */
.map_popup__title {
  background: #663367;
  color: #fff;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Button wrapper */
.map_popup__btn-row {

  margin-top: 15px;
  border-radius: 25px;
  padding: 10px 0;
}

/* Popup button */
.map_popup__btn {
  align-items: center;
  background: #0070c0;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  flex: 1; /* Distribute available space evenly between buttons */
}

.map_popup__btn:hover {
  background: #0050a0;
}

/* Close button */
.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #000;
}

.close-button:hover {
  color: #ff0000;
}

/* Define styles for smaller screens (e.g., screens up to 768px) */
@media screen and (max-width: 768px) {
  .map_popup {
    width: 200px; /* Adjust width for smaller screens */
  }
  .map_popup__btn-row {
    width: 200px; /* Adjust button wrapper width */
  }
  /* Button wrapper */
  .map_popup__btn-row {
    align-items: center;
    margin-top: 15px;
    border-radius: 25px;
    padding: 10px 0;
   
  }

/* Popup button */
.map_popup__btn {
  background: #0070c0;
  color: #fff;
  padding: 5px 10px; /* Reduced button size */
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  font-size: 12px; /* Reduced text size */

}

}


 
  
.map-pointer-cursor{
  cursor: pointer;
}

#map .ol-zoomslider {
  top: 95%;
  left: auto;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.7); /* Change background color */
  width: 100px;
  height: 15px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a subtle border */
  border-radius: 7.5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Increase shadow */
}

#map .ol-zoomslider:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Lighten the background on hover */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); /* Enhance the shadow on hover */
}

#map .ol-zoomslider-thumb {
  height: 15px;
  width: 10px;
  margin: 0;
  filter: none;
  background-color: rgba(255, 69, 0, 0.7); /* Adjust thumb color */
  border-radius: 7.5px;
}

#map a.ol-zoomslider-handle:hover {
  background-color: rgba(255, 69, 0, 0.8); /* Lighten the thumb color on hover */
}
.ol-zoom {
  opacity: 0;
}

.north-arrow {
  position: absolute;
  bottom: 35px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.north-arrow-text {
  font-size: 20px;
  color: black;
}
@media (max-width: 768px)   {

  #map .ol-zoomslider {
  top: 90%;
 
}
.north-arrow {
  bottom: 80px;

}
}


/* Filter.css */
/* .filter-container {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgb(241, 245, 246);
  z-index: 2;
  display: flex;
  flex-direction: column; 
  width: 160px;
  
}

.filter-search {

  margin-bottom: 10px; 

.filter-palika-toggle {
  width: 150px; 
  margin-bottom: 10px; 
}

.filter label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.filter select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.filter select:hover {
  border-color: #007bff;
}

.filter select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

.filter-search input[type="text"], input[type="tel"], input[type="file"], select {
  width: 90%;
  padding: 5px;
  border: 1px solid #2f65e2;
  border-radius: 5px;
} */

/* Styling for the search container */
.search-container {
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  padding: 10px;
  background: #f1f5f6; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the search input container */
.filter-search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;
  background-color: #fff;
  margin-top: 10px;
  transition: background-color 0.3s;
}

/* Styling for the search input */
.filter-search input[type="text"] {
  width: 100%;
  padding: 5px;
  border: none;
  font-size: 14px;
  color: #333;
  outline: none;
}

/* Styling for the search icon */
.filter-search i {
  color: #007bff; /* Icon color */
  font-size: 20px;
  margin-right: 10px;
}

/* Styling for the search results */
#search-results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-results li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
  color: #333;
}

#search-results li:hover {
  background-color: #f0f0f0;
}
