/* MapComposite.css */
.map-composite-container{
display: flex;
height: calc(100vh - 70px);


}



.map-container {
  position: relative;
  width: calc(100% - 80px); 
  height: calc(100vh - 70px);
}


/* MapComposite.css */
/* Existing styles for button-container and other elements */

