.network-analysis-container {
  width: 300px; /* Adjust the width based on your layout */
  height: calc(100vh - 70px); 
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 80px;
  background-color:white;
  z-index: 999; /* Adjust the z-index value as needed */
}

.network-analysis {
  height: calc(100vh - 162px); 
  overflow-y: auto;
}

.input-group {
  margin-bottom: 10px;
}

.result {
  margin-top: 10px;
}

.info-icon {
  color: #3498db;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.info-icon:hover {
  color: #2980b9;
}
