.places-container {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    }
      .places-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
 
  }
  
  .place-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%; /* Adjust the width as needed */
  
 
  }
  
  .place-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .image-container {
    width: 100%;
    height: 200px; /* Set the desired height */
    background-size: cover;
    background-position: center;
  }
  
  .place-description {
    font-size: 14px;
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }
  
  .pagination {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    bottom: 20px;
  }
  
  .pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .current-page {
    font-weight: bold;
    font-size: 16px;
    margin: 0 5px;
  }
  

  @media (max-width: 768px) {
    .place-container {
      width: 100%;
      height: 100vh;

      
       
      }
      .place-container .image-container {
        width: 100%;
        height: 100px;
       
      }
     
     
      .place-container .place-description {
    font-size: 12px;
    margin-top: 10px;
  }
  .place-container  button {
   
    padding: 6px 10px;
 
  }
  .places-list {
    gap: 70px;
    margin-right: 45px;
    
 
  }
 
      
  }


  @media (max-width: 1340px) {
    
    .image-container {
        width: 90%;
        height: 100px;
      }
     
     
  .place-description {
    font-size: 11px;
    margin-top: 10px;
  }
  button {
   
    padding: 6px 10px;
 
  }
  .places-list {
    gap: 10px;
    
 
  }
 
      
  }