/* QuickAid.css */

.quick-aid-form-unique {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.column-unique {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

.column-left-unique {
  order: 1;
}

.column-right-unique {
  order: 2;
}

.quick-aid-heading {
  font-size: 1.7em;
  margin-bottom: 20px;
  color: #007BFF;
}

.form-section-unique {
  margin-bottom: 10px;
  
}

.form-section-unique label {
  display: block;
  font-size: 15px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #333;
}



.form-section-unique input,
.form-section-unique select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  color: #555;
  transition: border-color 0.3s ease;
  
}

.form-section-unique input:focus,
.form-section-unique select:focus {
  border-color: #007BFF;
}

.note-text {
  font-style: italic;
  color: #777;
}

#map-unique .map {
  width: 100%;
  height: 220px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* hiding the unnecessary information from the map component */
#map-unique .filter-container,
#map-unique .search-container,
#map-unique .button-container {
  display: none;
}

button {
  padding: 15px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.submit-button-unique {
  background-color: #28a745;
}

.submit-button-unique:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .column-unique h1 {
    font-size: 22px;
  }
}
