/* Add these styles to your existing QuickAid.css or create a new CSS file */

.quick-aid-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 100vw;
    text-align: center;
    height: calc(100vh - 70px);
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    width: 48%;
  }
  
  .quick-aid-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .quick-aid-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select,
  .form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #0070c0;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
  }
  
  .submit-button:hover {
    background-color: #0050a0;
  }
  