/* QuickAid.css */

.quick-aid-form-unique {
  display: flex;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100vw; /* Set the width to 95% of the viewport width */
  height: calc(100vh - 140px); /* Set the height to 100% of the viewport height minus 77px */
  padding: 25px;
  flex-wrap: wrap; /* Allow columns to wrap to the next row on smaller screens */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container's height */
  overflow-x: hidden;
}

.column-unique {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  flex: 0 0 45%; /* Adjust the width for smaller screens */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  
}

.form-section-unique {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add vertical spacing */
}

label {
  font-weight: bold;
  font-family:Lucida Sans;
}

input[type="text"],
input[type="tel"],
input[type="file"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #2f65e2;
  border-radius: 5px;
}

input[type="file"]-unique {
  width: 100%; /* Set the width to make it rectangular */
}
.note-text {
  font-size: 16px;
  color: #555; /* Text color */
  margin-top: 10px; /* Add some top margin for separation */
}

/* You can add more styles as needed */

.map-section-unique {
  margin: 10px;
}

#map-unique .map  {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

#map-unique .north-arrow {
 display: none;
}

#map-unique  .map_popup {
display: none;
}
.submit-button-unique {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
}

.submit-button-unique:hover {
  background-color: #0056b3;
}

/* Media Query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {
  .column-unique {
    flex: 0 0 83%; /* Make columns full width on smaller screens */
  }

  .submit-button-unique {
    width: 30%; /* Make the submit button full width on smaller screens */
  }
  
.quick-aid-form-unique {
  display: flex;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100vw; /* Set the width to 95% of the viewport width */
  height: calc(100vh - 140px); /* Set the height to 100% of the viewport height minus 77px */
  padding: 10px;
  flex-wrap: wrap; /* Allow columns to wrap to the next row on smaller screens */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the container's height */
  overflow-x: hidden;
}
}

#map-unique /* Filter.css */
.filter-container {
display: none;
}