.relief-container {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  

  
  .description {
    flex: 1;
    text-align: left;
    color: #333;
  }
  
  .description p {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .relief-container .image-container {
    flex: 1;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 250px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .relief-button-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .relief-container  a {
    padding: 15px 30px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
/* QuickAid.css */

/* ... (Previous styles remain unchanged) */
.cancel-button {
    padding: 15px 20px;
    background-color: #dc3545; /* Red shade for cancel button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cancel-button:hover {
    background-color: #c82333; /* Darker red shade on hover */
  }
  
.proceed-button {
    padding: 15px 20px;
    background-color: #28a745; /* Green shade for proceed button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.proceed-button:hover {
    background-color: #218838; /* Darker green shade on hover */
  }
  
  /* ... (Media queries and other styles remain unchanged) */
  
  
  
  .relief-container a{
    text-decoration: none;

  }
  
  @media (max_width:768px) {
  
    
  }