/* Updated CSS for Task Container */
.task-container {
  width: 300px;
  height: calc(100vh - 70px);
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  left: 80px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Updated CSS for Add Task Button */
.task-history-button,
.add-task-button {
  margin: 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 110px;
  box-sizing: border-box;
}

.add-task-button i {
  margin-right: 8px;
}

/* Updated CSS for Task List */
.tasks {
  height: calc(100vh - 210px);
  overflow-y: auto;
  margin-top: 10px;
}

/* Updated CSS for Task Item */
.task-item {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.task-item h3 {
  margin-bottom: 5px;
}

.task-item p {
  font-size: 0.8rem;
  color: #777;
}

/* Updated CSS for View More and Archive Buttons */
.action-buttons {
  display: flex;
}

.view-map-button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.archive-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-map-button:hover {
  background-color: #0056b3;
}

.archive-button:hover {
  background-color: #347c34;
}
/* Updated CSS for Deadline */
.task-item .deadline {
 width: 50%;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #e32f2f;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
}

/* Updated CSS for Status */
.task-item .status {
  width: 50%;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ffc107;
  color: #333;
  border-radius: 4px;
  font-size: 0.8rem;
  text-transform: capitalize; /* Convert status text to uppercase */
}